header{
    height:75px;
    width: 100%;
    background-color: #003e6f;
    padding: 12px 20px;
}

.logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav{
    float: right;
    display: block;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: inline-flex;
}

header nav ul li{
    list-style: none;
    position: relative;
}
header nav ul li span:before{
    content: '\f0d7';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 5px;
}
header nav ul li.active span:before{
    content: '\f0d8';
}
header nav ul li ul{
    position: absolute;
    left: 0px;
    background: #333;
    display: none;
}
header nav ul li.active ul{
    display: block !important;
}
header nav ul li ul li{
    display: block;
    width: 200px;
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background: #2196f3;
}

header .menu-toggle{
    color: #fff;
    float: right;
    line-height: 59px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 800px) {

    header{
        padding: 0 20px !important;
    }
    header .menu-toggle{
        display: block;
    }
    header nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        z-index: 10;
        top: 73px;
        left: -100%;
        transition: 0.7s;
    }

    header nav.activate{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li.active ul{
        display: block !important;
        position: relative;
        background: #003e6f;
    }
    header nav ul li ul li a:hover{
        background: #0069be;
    }
    header nav ul li ul li{
        width: 100%;
    }
    header nav ul li span:before{
        content: '\f0d7';
        font-family: fontAwesome;
        position: absolute;
        line-height: 50px;
        color: #fff;
        right: 45px;
    }
}